* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: radial-gradient(#8693A6, #171B21);
  color: black;
  font-family: "Arimo", sans-serif;
  min-height: 100vh;

}
header, form {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  grid-auto-rows: auto;
  background: rgba(238, 238, 238, 0.4);
  border: 0;
  border-radius: 4px;
}
header h1 {
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(34, 40, 49, 0.3);
  text-align: center;
  box-shadow: 1px 1px 4px rgba(28, 33, 41, 0.7);
}

form input, form button {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: none;
  margin: .5rem;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease;
  border: 0;
  outline: 0;
  box-shadow: 1px 1px 4px rgba(28, 33, 41, 0.7);
  border-radius: 4px;
  color: #000000;
}
.bookInput:focus {
  border: 0;
  box-shadow: 1px 1px 6px rgba(28, 33, 41, 1.0);
  background: rgba(255, 255, 255, 0.8);
}
form button {
  color: rgba(255, 255, 255, 1.0);
  background: rgba(53, 80, 112, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 10vh;
  padding: 8px;
}
form button:hover {
  color: rgba(255, 255, 255, 1.0);
  background: rgba(0, 173, 181, 0.9);
}
.booksContainer {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.booksList {
  margin: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  /*grid-template-columns: repeat(5, 1fr);*/
  /*grid-auto-rows: minmax(25%, 4fr);*/
  /*grid-gap: 0.2rem;*/
}
.book {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  padding: 0.4rem;
  margin: 0.4rem;
  background: rgba(238, 238, 238, 0.4);
  color: rgba(0, 0, 0, 1.0);
  font-size: 1rem;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  transition: all 0.5s ease;
  border: 0;
  box-shadow: 1px 1px 8px rgba(28, 33, 41, 1.0);
  border-radius: 4px;
}
.book:hover {
  box-shadow: 0 0 12px rgba(28, 33, 41, 1.0);
  background: rgba(0, 173, 181, 0.9);
}

.book_poster {
  max-width: 100%;
  height: auto;
}